<script type="text/javascript">
  var chosen_artist = <%= @chosen_artist.to_json %>
  var bio_artist = <%= @bio_artist.to_json %>
  
  function load_song() {
    R.ready(function() {
      R.player.play({source: <%= @rdio_id.sub('rdio-WW:track:', '').to_json %>});
    });
  }
  
  function run() {
    load_song();
  
    var btn_correct = null;
    var btn_wrong = null;
    if(chosen_artist.id == bio_artist.id) {
      btn_correct = $('#fact');
      btn_wrong = $('#fiction');
    } else {
      btn_correct = $('#fiction');
      btn_wrong = $('#fact');
    }

    btn_correct.click(function() {
      var msg = 'You are right! The bio was for ' + bio_artist.name;
      $('#msg').html(msg);
    });
    btn_wrong.click(function() {
      var msg = 'Sorry you\'re wrong! The bio was for ' + bio_artist.name;
      $('#msg').html(msg);
    });
  }
  
  $(document).ready(run);
</script>
<div id="column">
  <div id="artist">
    <%= @chosen_artist['name'] %>
  </div>
  <div id="bio">
    <%= @bio %>
  </div>
  <div id="answer">
    Is this the actual bio for <%= @chosen_artist['name'] %> or total fiction?<br/>
    <button id="fact">Fact: Actual Bio</button>
    <button id="fiction">Total Fiction</button>

    <div id="msg"></div>
  </div>
</div>
